---
import Layout from "@layouts/Layout.astro";
import { getCollection, CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const docs = await getCollection("play");
  return docs.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"play">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`${entry.data.title} | chan.dev`}>
  <main>
    <article>
      <h1>{entry.data.title}</h1>
      <Content />
    </article>
  </main>
</Layout>
