<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.njk" %}
  <body>
    {% include "partials/menu-header.njk" %}
    <main
      {%
      if
      templateClass
      %}
      class="prose prose-ol:list-none prose-ol:m-0 prose-ol:p-0 {{
        templateClass
      }}"
      {%
      endif
      %}
    >
      {{ content | safe }}
    </main>

    <footer></footer>

    {% include "partials/analytics.njk" %}
  </body>
</html>
