---
layout: layouts/base.njk
templateClass: tmpl-note
---
<h1>{{ title }}</h1>

{% if note %}
<div
  role="note"
  aria-labelledby="page-note-heading"
  data-page-note
>
  <p id="page-note-heading">
    <strong>Note</strong>
  </p>
  <p>{{note}}</p>
</div>
{% endif %}

{{ content | safe }}