---
layout: layouts/base.njk
templateClass: layout--tag-basic
---

<div class="prose">
  <h1>
    <a href="{{return_url | url}}">{{ collection_title }}</a>
    / {{ title }}</h1>

  {{ content }}
</div>