---
import PostMeta from '#components/header-post-meta.astro'
import Layout from '#layouts/Layout.astro'
import * as GUIDES from '#pages/guides/guides'
import Prose from '#components/prose.astro'

export async function getStaticPaths() {
	const entries = await GUIDES.getCollection((entry) =>
		entry.slug.includes('git/foundation')
	)

	return [
		{
			params: {topic: 'git', scope: 'foundation'},
			props: {entries},
		},
	]
}

interface Props {
	entries: GUIDES.CollectionEntry[]
}

const {entries} = Astro.props
---

<Layout>
	<Prose>
		<small>
			⇠ <a href="/">chan.dev</a>
		</small>
		<main class="mt-4">
			<h1 class="tracking-tight">Guides / Git / Foundation</h1>
			<ul>
				{
					entries.map((entry) => (
						<li>
							<a href={entry.slug}>{entry.data.title}</a>
						</li>
					))
				}
			</ul>
		</main>
	</Prose>
</Layout>
