---
import PostMeta from "@components/header-post-meta.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import * as site from "@modules/site";

let lessons = await getCollection("lessons");
---

<Layout>
  <main class="prose">
    <ul>
      {
        lessons.map((entry) => (
          <li>
            <a href={`/lessons/${entry.slug}`}>{entry.id}</a>
          </li>
        ))
      }
    </ul>
  </main>
  <PostMeta
    title="All chantastic lessons"
    url={site.url("/lessons")}
    slot="page-meta"
  />
</Layout>
