body {
  font-family: "PT Serif";
  /* font-size: 1em; */
}
p {
  line-height: 1.5;
  margin-bottom: 1.75em;
  font-family: "PT Serif", serif;
  /* font-size: 1rem; */
  /* margin: 1.5em 0; */
  /* color: #2c3e50; */
  text-rendering: optimizeLegibility;
}
h1,
h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  letter-spacing: -0.02em;
  word-spacing: 0.05em;
  /* line-height: 1em; */
  font-size: 1.8rem;
  margin-top: 1em;
  margin-bottom: 0;
}
/*
@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #222;
    color: hsl(0 0% 100% / 0.85);
  }

  h1, h2 {
    color: hsl(0 0% 100% / 0.95);
  }

  a[href] {
    color: hsl(0 0% 100% / 0.86);
  }
  a[href]:visited {
    color: hsl(0 0% 100% / 0.86);
  }
}
*/

@media (prefers-color-scheme: light) {
  html,
  body {
    background: white;
    color: #222;
  }
  h1,
  h2 {
    color: black;
  }
  a[href] {
    color: #222;
  }
  a[href]:visited {
    color: #222;
  }
}

/* custom */
blockquote {
  margin: 2rem 0;
  padding: 0 2rem;
  border-left: 4px solid #ddd;
  display: block;
}

code {
  font-size: 1.7ex;
}

[data-page-note] {
  background-color: hsl(0, 0%, 90%);
  padding: 1rem;
  box-sizing: border-box;
  border-left: 4px solid hsl(0, 0%, 0%);
}

kbd {
  /* ripped from MDN */
  /* alt 1: https://www.rgagnon.com/jsdetails/js-nice-effect-the-KBD-tag.html */
  /* alt 2: https://dylanatsmith.com/wrote/styling-the-kbd-element */
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
