---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const docs = await getCollection("posts");
  return docs.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
---

<h1>{entry.data.title}</h1>
