---
import { getCollection, CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const docs = await getCollection("posts");
  return docs.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"posts">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<h2>{entry.data.title}</h2>
<time datetime={entry.data.publishDate.toISOString()}>
  {entry.data.publishDate.toDateString()}
</time>
<Content />
