---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

let blogPosts = await getCollection("posts", ({ data }) => {
  if (data.publishDate) {
    return true;
  }
  return false;
});

blogPosts.sort((a, b) => {
  return b.data.publishDate - a.data.publishDate; // what do i need to do to make this stop warning?
});
---

<Layout title="Welcome to Astro.">
  <main>
    <ul>
      {
        blogPosts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}`}>
              {post.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
