---
import PostMeta from "@components/header-post-meta.astro";
import Layout from "@layouts/Layout.astro";
import { getPostCollection } from "@modules/post";
import PostList from "@components/post-list.astro";

let posts = await getPostCollection();
---

<Layout>
  <main class="prose"><PostList posts={posts} /></main>
  <PostMeta
    title="All posts"
    description="All my languishing hopes and dreams…"
    url="https://"
    slot="page-meta"
  />
</Layout>
