---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("posts", ({ data }) => {
  if (data.publishDate) {
    return true;
  }
  return false;
});
---

<Layout title="Welcome to Astro.">
  <main>
    <ul>
      {
        blogPosts.map((post) => (
          <li>
            <a href={post.slug}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
