---
import PostMeta from "@components/header-post-meta.astro";
import Layout from "@layouts/Layout.astro";
import { getPostCollection } from "@modules/post";
import PostList from "@components/post-list.astro";

let posts = await getPostCollection();
---

<Layout>
  <main class="prose">
    <PostList posts={posts} />
  </main>
  <PostMeta
    title="All chantastic posts"
    url="https://chan.dev/posts"
    slot="page-meta"
  />
</Layout>
