---
import Layout from '#layouts/Layout.astro'
import Prose from '#components/prose.astro'
---

<Layout>
	<Prose>
		<ul>
			<li>
				<a href="/chores/rock">Rock</a>
			</li>
			<li>
				<a href="/chores/ruby">Ruby</a>
			</li>
		</ul>
	</Prose>
	<Layout />
</Layout>
