---
import Layout from '#layouts/Layout.astro'
import Prose from '#components/prose.astro'
import {db, Habit, eq} from 'astro:db'

const habits = await db
	.select()
	.from(Habit)
	.where(eq(Habit.owner, 'Rock'))

const chore_data = habits.map(
	(habit: {
		id: number
		title: string
		recurrence_pattern: string
	}) => ({
		id: habit.id,
		name: habit.title,
		weekly_occurances: habit.recurrence_pattern
			.split('')
			.map(Number)
			.map(Boolean),
	})
)
---

<Layout>
	<Prose>
		<h1>Rock</h1>
		<table class="table-fixed">
			<thead>
				<tr>
					<th></th>
					<th>Saturday</th>
					<th>Sunday</th>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
				</tr>
			</thead>
			<tbody>
				{
					chore_data.map((chore) => {
						const saturday_first_weekly_occurances = [
							chore.weekly_occurances.at(-1),
							...chore.weekly_occurances.slice(0, -1),
						]

						return (
							<tr>
								<td>{chore.name}</td>
								{saturday_first_weekly_occurances.map(
									(occurance) => {
										if (occurance) {
											return (
												<td
													class="border"
													hx-post={`/chores/partials/${chore.id}`}
													hx-trigger="click"
													hx-swap="outerHTML"
												/>
											)
										} else {
											return (
												<td
													class="border"
													style={{
														backgroundColor: 'currentColor',
													}}
												/>
											)
										}
									}
								)}
							</tr>
						)
					})
				}
			</tbody>
		</table>
	</Prose>
	<script
		src="https://unpkg.com/htmx.org@1.9.8"
		integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
		crossorigin="anonymous"></script>
</Layout>
