---
import Layout from '#layouts/Layout.astro'
import Prose from '#components/prose.astro'
---

<Layout>
	<Prose>
		<h1>Ruby</h1>
		<table class="table-fixed">
			<thead>
				<tr>
					<th></th>
					<th>Saturday</th>
					<th>Sunday</th>
					<th>Monay</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Jesus time</td>
					<td class="border"></td>
					<td class="border">x</td>
					<td class="border"></td>
					<td class="border">x</td>
					<td class="border">x</td>
					<td class="border">x</td>
					<td class="border"></td>
				</tr>
				<tr>
					<td>Grooming (teeth, pits)</td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
				</tr>
				<tr>
					<td>Tidy room</td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border">x</td>
					<td class="border">x</td>
					<td class="border">x</td>
					<td class="border"></td>
				</tr>
				<tr>
					<td>Clothes to laundry</td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
				</tr>
				<tr>
					<td>Fold laundry</td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
				</tr>
				<tr>
					<td>School work</td>
					<td class="border">x</td>
					<td class="border">x</td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
				</tr>
				<tr>
					<td>Duolingo</td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
				</tr>
				<tr>
					<td>Vaccuum runners</td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border">x</td>
					<td class="border"></td>
					<td class="border">x</td>
					<td class="border"></td>
				</tr>
				<tr>
					<td>Dishes to dishwasher</td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border">x</td>
					<td class="border"></td>
					<td class="border">x</td>
					<td class="border"></td>
				</tr>
				<tr>
					<td>Dust living room</td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border"></td>
					<td class="border">x</td>
					<td class="border"></td>
					<td class="border">x</td>
					<td class="border"></td>
				</tr>
			</tbody>
		</table>
	</Prose>
</Layout>
