---
import Layout from '#layouts/Layout.astro'
import Prose from '#components/prose.astro'

export const prerender = false

const chore_data = [
	{
		id: '012',
		name: 'Jesus time',
		weekly_occurances: [
			false,
			true,
			false,
			false,
			false,
			true,
			true,
		],
	},
	{
		id: '013',
		name: 'Grooming (brush, brush, deoderize)',
		weekly_occurances: [
			true,
			true,
			true,
			true,
			true,
			true,
			true,
		],
	},
	{
		id: '014',
		name: 'Tidy room',
		weekly_occurances: [
			true,
			true,
			false,
			false,
			false,
			true,
			true,
		],
	},
	{
		id: '015',
		name: 'Clothes to laundry',
		weekly_occurances: [
			true,
			true,
			true,
			true,
			true,
			true,
			true,
		],
	},
	{
		id: '016',
		name: 'Fold laundry',
		weekly_occurances: [
			true,
			true,
			true,
			true,
			true,
			true,
			true,
		],
	},
	{
		id: '017',
		name: 'School work',
		weekly_occurances: [
			false,
			true,
			true,
			true,
			true,
			true,
			false,
		],
	},
	{
		id: '018',
		name: 'Duolingo',
		weekly_occurances: [
			true,
			true,
			true,
			true,
			true,
			true,
			true,
		],
	},
	{
		id: '019',
		name: 'Vaccuum runners',
		weekly_occurances: [
			true,
			true,
			false,
			true,
			false,
			true,
			true,
		],
	},
	{
		id: '020',
		name: 'Dishes to dishwasher',
		weekly_occurances: [
			true,
			true,
			false,
			true,
			false,
			true,
			true,
		],
	},
	{
		id: '021',
		name: 'Dust living room',
		weekly_occurances: [
			true,
			true,
			false,
			true,
			false,
			true,
			true,
		],
	},
]
---

<Layout>
	<Prose>
		<h1>Ruby</h1>
		<table class="table-fixed">
			<thead>
				<tr>
					<th></th>
					<th>Sunday</th>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Saturday</th>
				</tr>
			</thead>
			<tbody>
				{
					chore_data.map((chore) => (
						<tr>
							<td>{chore.name}</td>
							{chore.weekly_occurances.map((occurance, i) => {
								if (occurance) {
									return (
										<td
											hx-post={`/chores/partials/${chore.id}`}
											hx-trigger="click"
											hx-swap="outerHTML"
											class="border"
										/>
									)
								} else {
									return (
										<td class="border bg-gray-600 bg-current" />
									)
								}
							})}
						</tr>
					))
				}
			</tbody>
		</table>
	</Prose>
	<script
		src="https://unpkg.com/htmx.org@1.9.8"
		integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
		crossorigin="anonymous"></script>
</Layout>
