---
import Layout from '#layouts/Layout.astro'
import Prose from '#components/prose.astro'
import Button from '#components/button.astro'
import Result from './result.astro'
---

<Layout>
	<Prose as="main">
		<main>
			<Button
				hx-post={`/roll/result?sides=6`}
				hx-trigger="click"
				hx-swap="innerHTML"
				hx-target="#d"
			>
				Roll
			</Button>
			<div class="text-9xl font-black font-mono" id="d">
				<Result />
			</div>
		</main>
	</Prose>
</Layout>

<script
	src="https://unpkg.com/htmx.org@1.9.10"
	integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
	crossorigin="anonymous"></script>
