---
import PostMeta from "@components/header-post-meta.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { compareByDate } from "@modules/collection";
import * as site from "@modules/site";

let decisions = await getCollection("decisions");

decisions.sort((a, b) =>
  compareByDate(a.data.date, b.data.date)
);
---

<Layout>
  <main class="prose">
    <ul>
      {
        decisions.map((decision) => (
          <li>
            <a href={`/decisions/${decision.slug}`}>
              {decision.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
  <PostMeta
    title="all chantastic decisions"
    url={site.url("/decisions")}
    slot="page-meta"
  />
</Layout>
