---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import * as DECISIONS from "@pages/decisions/decisions";
import * as SITE from "@modules/site";

let decisions = await DECISIONS.getCollection();
---

<Layout>
  <main class="prose">
    <ul>
      {
        decisions.map((decision) => (
          <li>
            <a href={`/${DECISIONS.path(decision.slug)}`}>
              {decision.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
  <PostMeta
    title={DECISIONS.title()}
    description="chantastic's professional decisions and how they age"
    url={SITE.url(DECISIONS.path())}
    slot="page-meta"
  />
</Layout>
