---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import * as DECISIONS from "@pages/decisions/decisions";

const decisions = await DECISIONS.getCollection();
---

<Layout>
  <div class="prose prose-slate dark:prose-invert">
    <small>
      ⇠ <a href="/">chan.dev</a>
    </small>
    <main class="mt-4">
      <h1 class="tracking-tight">Decisions</h1>
      <ul>
        {
          decisions.map((decision) => (
            <li>
              <a href={`/${DECISIONS.path(decision.slug)}`}>
                {decision.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </div>
  <PostMeta
    title={DECISIONS.title()}
    description="chantastic's professional decisions and how they age"
    path={DECISIONS.path()}
    slot="page-meta"
  />
</Layout>
