---
import Prose from '#components/prose.astro'
import Layout from '#layouts/Layout.astro'
import * as DAILIES from '#content/dailies/_dailies'
import {entrySlug, renderEntry} from '#lib/content-entry'

export async function getStaticPaths() {
	let entries = await DAILIES.getCollection()

	return entries.map((entry) => ({
		params: {
			daily_slug: entrySlug(entry),
		},
		props: {
			entry,
		},
	}))
}

let {entry} = Astro.props
let {Content} = await renderEntry(entry)
---

<Layout>
	<Prose as="main">
		<h1>{entrySlug(entry)}</h1>
		<Content />
	</Prose>
</Layout>
