---
// import PostMeta from '#components/header-post-meta.astro'
import Layout from '#layouts/Layout.astro'
// import PostList from '#components/post-list.astro'
// import * as POSTS from '#content/posts/_posts'
import Prose from '#components/prose.astro'
import * as ASTRO_CONTENT from 'astro:content'

const testimonials = await ASTRO_CONTENT.getCollection(
	'entities',
	(entry) => {
		return entry.data.testimonial
	}
)
---

<Layout>
	<div class="bg-white py-24 sm:py-32">
		<div class="mx-auto max-w-7xl px-6 lg:px-8">
			<div class="mx-auto max-w-xl text-center">
				<h2
					class="text-lg font-semibold leading-8 tracking-tight text-indigo-600"
				>
					Testimonials
				</h2>
				<p
					class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
				>
					Storybook and Chromatic
				</p>
			</div>
			<div
				class="mx-auto mt-16 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none"
			>
				<div
					class="-mt-8 sm:-mx-4 sm:columns-2 sm:text-[0] lg:columns-3"
				>
					{
						testimonials.map(({data: entry}) => (
							<div class="pt-8 sm:inline-block sm:w-full sm:px-4">
								<figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
									<blockquote class="text-gray-900">
										<p>{entry.testimonial}</p>
									</blockquote>
									<figcaption class="mt-6 flex items-center gap-x-4">
										<img
											class="h-10 w-10 rounded-full bg-gray-50"
											src={entry.avatar}
											alt="Tom Coleman"
										/>
										<div>
											<div class="font-semibold text-gray-900">
												{entry.name}
											</div>
											<div class="text-gray-600">
												{entry.position}
											</div>
										</div>
									</figcaption>
								</figure>
							</div>
						))
					}
				</div>
			</div>
		</div>
	</div>
</Layout>
