---
import Layout from './_layout.astro'
import * as GUIDES from '#content/guides/_guides'
import * as LESSONS from '#content/lessons/_lessons'
import {
	getGuideInstructionalEntries,
	renderInstructionalEntry,
	instructionalTitle,
} from '#lib/instructional'

export async function getStaticPaths() {
	const guides = await GUIDES.getCollection()
	const paths = []

	for (const guide of guides) {
		const items = await getGuideInstructionalEntries(
			GUIDES.guideSlug(guide)
		)

		for (const item of items) {
			paths.push({
				params: {
					guide_slug: GUIDES.guideSlug(guide),
					guide_step_slug: LESSONS.guideStepName(item),
				},
				props: {item},
			})
		}
	}

	return paths
}

interface Props {
	item: Awaited<ReturnType<typeof getGuideInstructionalEntries>>[number]
}

const {item} = Astro.props
const {Content} = await renderInstructionalEntry(item)
---

<Layout>
	<h1>{instructionalTitle(item)}</h1>
	<Content />
</Layout>
