---
import ParentLayout from '#layouts/Layout.astro'
import Prose from '#components/prose.astro'
import {
	getGuideInstructionalEntries,
	instructionalPath,
	instructionalTitle,
	isCurrentInstructionalEntry,
} from '#lib/instructional'

let {params} = Astro

let entries = await getGuideInstructionalEntries(String(params.guide_slug))
---

<ParentLayout>
	<Prose as="div" class="grid grid-cols-3 gap-8">
		<main class="col-span-2">
			<slot />
		</main>
		<nav>
			<ol>
				{entries.map((item) => (
					<li
						class:list={[
							{
								'bg-white rounded': isCurrentInstructionalEntry(
									item,
									params.guide_step_slug
								),
							},
						]}
					>
						<a
							href={instructionalPath(item)}
							class:list={[
								{
									'text-slate-600': isCurrentInstructionalEntry(
										item,
										params.guide_step_slug
									),
								},
							]}
						>
							{instructionalTitle(item)}
							{item.data.status === 'draft' && <span> [draft]</span>}
						</a>
					</li>
				))}
			</ol>
		</nav>
	</Prose>
</ParentLayout>
