---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>404 | chan.dev</title>
  </head>
  <body class="prose p-4">
    <h1>404: Page not found</h1>
    <h2>Posts folks like</h2>
    <ul>
      <li>
        <a href="/posts/comprehending-yaml"
          >A Non-Comprehensive Guide to YAML for Folks Who Like
          JSON Just Fine</a
        >
      </li>
      <li>
        <a href="/posts/import-a-module-for-side-effects/"
          >Import Modules for Side Effects</a
        >
      </li>
      <li>
        <a href="/posts/import-and-rename-named-exports/"
          >Import and Rename Named Exports</a
        >
      </li>
    </ul>
    <h2>Links I'll use to improve this 404 page</h2>
    <ol>
      <li>
        https://www.bing.com/webmasters/help/404-pages-best-practices-1c9f53b3
      </li>
      <li>https://www.11ty.dev/docs/quicktips/not-found/</li>
      <li>
        https://www.merkle.com/blog/best-way-handle-404-pages-seo-and-users
      </li>
      <li>
        https://developers.google.com/search/docs/crawling-indexing/http-network-errors?hl=en&visit_id=638150226924184953-2475857662&rd=1#soft-404-errors
      </li>
    </ol>
  </body>
</html>
