---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import { getCollection } from "astro:content";

let plays = await getCollection("play");
---

<Layout>
  <main>
    <ul>
      {
        plays.map((post) => (
          <li>
            <a href={`/play/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
  <PostMeta
    title="Plays"
    description="My aspirations at organized, intentional activity."
    url="https://chan.dev"
    slot="page-meta"
  />
</Layout>
