---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

let plays = await getCollection("play");
---

<Layout title="Life, by chantastic | chan.dev">
  <main>
    <ul>
      {
        plays.map((post) => (
          <li>
            <a href={`/play/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
