---
import Layout from "@layouts/Layout.astro";
import { getPostCollection } from "@modules/post.mjs";

let posts = await getPostCollection();
---

<Layout title="Life, by chantastic | chan.dev">
  <main>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
