---
import PostMeta from "@components/header-post-meta.astro";
import Layout from "@layouts/Layout.astro";
import { getPostCollection } from "@modules/post.mjs";

let posts = await getPostCollection();
---

<Layout>
  <main class="prose">
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
  <PostMeta
    title="All posts"
    description="All my languishing hopes and dreams…"
    url="https://"
    slot="page-meta"
  />
</Layout>
