html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
html {
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 24px;
  font-size: 16px;
  margin: 5vw 5vw 0;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.4;
}
@media (min-width: 0) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 480px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 720px) {
  body {
    font-size: 20px;
  }
}
@media (min-width: 960px) {
  body {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 24px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: 900;
}
h2 {
  margin-top: 12vw;
}
p {
  /* font-family: Athelas, Georgia, serif; */
  font-size: 0.9em;
  line-height: 1.3em;
  /* max-width: 32em; */
}
pre code {
  display: table;
}
code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
code,
.highlight pre {
  font-size: 0.9em;
}
.table-of-contents ul {
  text-decoration: none;
  padding-left: 20px;
}
.black-link,
.table-of-contents ul li a {
  color: #000;
  text-decoration: none;
}
.black-link,
.table-of-contents ul li a:hover {
  text-decoration: underline;
}
.highlight {
  margin: 1rem 0;
}
.hljs {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: -1em;
  font-size: 0.85em;
  /* max-width: 32em; */
}
code {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0.25em 0.25em;
  margin: -0.25em 0;
}
hr {
  margin-top: 2em;
  border-color: rgba(0, 0, 0, 0.4);
  border-width: 0;
  border-bottom-width: 1px;
  max-width: 16em;
}

.direct-link {
  font-family: monospace;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

.hljs {
  display: block;
  overflow: auto;
}

.external-link::after {
  /* https://ux.stackexchange.com/a/136689 */
  /* https://stackoverflow.com/a/25410621 */
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' style='cursor:pointer'%3E%3Cg stroke-width='2.1' stroke='%23666' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='17 13.5 17 19.5 5 19.5 5 7.5 11 7.5'%3E%3C/polyline%3E%3Cpath d='M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
  margin-left: .25rem;
}
