html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
html {
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 24px;
  font-size: 16px;
  margin: 5vw 5vw 0;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.4;
}
@media (min-width: 0) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 480px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 720px) {
  body {
    font-size: 20px;
  }
}
@media (min-width: 960px) {
  body {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 24px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: 900;
}
h2 {
  margin-top: 12vw;
}
p {
  /* font-family: Athelas, Georgia, serif; */
  font-size: 0.9em;
  line-height: 1.3em;
  /* max-width: 32em; */
}
pre code {
  display: table;
}
code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
code,
.highlight pre {
  font-size: 0.9em;
}
.table-of-contents ul {
  text-decoration: none;
  padding-left: 20px;
}
.black-link,
.table-of-contents ul li a {
  color: #000;
  text-decoration: none;
}
.black-link,
.table-of-contents ul li a:hover {
  text-decoration: underline;
}
.highlight {
  margin: 1rem 0;
}
.hljs {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: -1em;
  font-size: 0.85em;
  /* max-width: 32em; */
}
code {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0.25em 0.25em;
  margin: -0.25em 0;
}
hr {
  margin-top: 2em;
  border-color: rgba(0, 0, 0, 0.4);
  border-width: 0;
  border-bottom-width: 1px;
  max-width: 16em;
}

.direct-link {
  font-family: monospace;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

.hljs {
  display: block;
  overflow: auto;
}