---
import { Content as HackernoonContent } from "@src/content/os/hackernoon.md";
import { Content as MediumContent } from "@src/content/os/medium.md";
---

<h3>Hand-off</h3>
<details>
  <summary>Hand-off checklist</summary>

  <p>Ensure that required fields are present.</p>
  <ul>
    <li>Title</li>
    <li>Description</li>
    <li>tags</li>
    <li>tldr</li>
  </ul>

  <p>TODO</p>
  <ul>
    <li>Add visual validation on fields (when empty)</li>
    <li>
      Create zod overloads for published articles to validate
      required fields
    </li>
    <li>Add an 'other tags' override?</li>
  </ul>
</details>

<details>
  <summary>Edit post</summary>

  <ul>
    <li>Click the <code>Edit on GitHub</code> link above</li>
    <li>
      <em>On github.com</em>
      <ul>
        <li>Click the pencil icon to edit the post.</li>
        <li>Make edits.</li>
        <li><code>Commit changes…</code> to commit.</li>
      </ul>
      <li>
        <em
          >The public site will take a couple minutes to
          re-build.</em
        >
      </li>
    </li>
  </ul>
</details>

<h3>Cross-post</h3>

<details>
  <summary>HACKERNOON</summary>
  <HackernoonContent />
</details>

<details>
  <summary>Medium</summary>
  <MediumContent />
</details>

<details>
  <summary
    ><a href="https://dev.to/new" target="_blank">dev.to︎ ⤤︎</a
    ></summary
  >

  Site requires post be uploaded in markdown. - webdev -
  `100:42` header aspect ratio - canonical url is pre-publish -
  removing language for sample thing - ⯄ icon to add conanical
  url
</details>

<details>
  <summary
    ><a href="https://hashnode.com/draft/" target="_blank"
      >hashnode ⤤︎</a
    ></summary
  >

  - subtitle? - add note about code - don't worry about SEO
  stuff - tags added after publish after publish - use custom
  slug - SEO? - send to newsletter
</details>
