---
const props = Astro.props;

const path = new URL(props.path, "htps://chan.dev/").toString();
---

<p>
  I haven't written this post. But I'd like to!
  <br />
  Hit me up on twitter to let me know you're interested.
  <br />
  <a
    href={`https://twitter.com/intent/tweet?text=${encodeURIComponent(
      `Hey @chantastic! I'd like you to finish your post: ${path}`
    )}`}>Bug me on twitter…</a
  >
</p>
