---
export interface Props {
  year: string;
  url?: string;
  authorName?: string;
  authorUrl?: string;
}

const {
  year,
  url = "https://chan.dev",
  authorName = "Michael Chan",
  authorUrl = "https://chan.dev",
} = Astro.props;
---

<!-- https://chooser-beta.creativecommons.org/ -->
<p xmlns:cc="http://creativecommons.org/ns#">
  <a rel="cc:attributionURL" href={url}
    >This work</a
  > &copy; {year} by <a
    rel="cc:attributionURL dct:creator"
    property="cc:attributionName"
    href={authorUrl}>{authorName}</a
  > is licensed under <a
    href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1"
    target="_blank"
    rel="license noopener noreferrer"
    style="display:inline-block;"
    >CC BY 4.0<!--<img
      style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
      src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
    /><img
      style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
      src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
    />--></a
  >
</p>
