---
interface Props {
	title: string
	// date: string
	badge?: string
	link?: [string, string?]
}

const {link, title, badge}: Props = Astro.props
---

<li class="mb-10 ms-5">
	<div
		class="absolute w-3 h-3 bg-gray-200 rounded-full mt-2 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
	>
	</div>
	<!-- <time
		class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
		>{date}</time
	> -->
	<h3
		class="text-lg font-semibold text-gray-900 dark:text-white"
	>
		{title}
		{
			badge && (
				<span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3">
					{badge}
				</span>
			)
		}
	</h3>

	<slot />

	{
		link && (
			<a
				href={link[0]}
				target="_blank"
				class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
			>
				{link[1] ? link[1] : 'Learn more'}{' '}
				<svg
					class="w-3 h-3 ms-2 rtl:rotate-180"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 14 10"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 5h12m0 0L9 1m4 4L9 9"
					/>
				</svg>
			</a>
		)
	}
</li>
