---
import PostMeta from "@components/header-post-meta.astro";
import Layout from "@layouts/Layout.astro";
import PostList from "@components/post-list.astro";
import * as POSTS from "@pages/posts/posts";

const posts = await POSTS.getCollection();
---

<Layout content_path={POSTS.path()}>
  <div class="prose">
    <small>
      ⇠ <a href="/">chan.dev</a>
    </small>
    <main class="mt-4">
      <h1>Posts</h1>
      <PostList posts={posts} />
    </main>
  </div>
  <PostMeta title="chantastic posts" path={POSTS.path()} slot="page-meta" />
</Layout>
