---
import PostMeta from "@components/header-post-meta.astro";
import Layout from "@layouts/Layout.astro";
import PostList from "@components/post-list.astro";
import * as POSTS from "@pages/posts/posts";

const posts = await POSTS.getCollection();
---

<Layout>
  <div class="prose prose-slate dark:prose-invert">
    <small>
      ⇠ <a href="/">chan.dev</a>
    </small>
    <main class="mt-4">
      <h1 class="tracking-tight">Posts</h1>
      <PostList posts={posts} />
    </main>
  </div>
  <PostMeta
    title="chantastic posts"
    path={POSTS.path()}
    slot="page-meta"
  />
</Layout>
