---
import PostMeta from "@components/header-post-meta.astro";
import Layout from "@layouts/Layout.astro";
import { getPostCollection } from "@modules/post";
import PostList from "@components/post-list.astro";
import * as site from "@modules/site";

let posts = await getPostCollection();
---

<Layout>
  <main class="prose">
    <PostList posts={posts} />
  </main>
  <PostMeta
    title="chantastic posts"
    url={site.url("posts")}
    slot="page-meta"
  />
</Layout>
