---
import PostMeta from '@components/header-post-meta.astro';
import Layout from '@layouts/Layout.astro';
import PostList from '@components/post-list.astro';
import * as POSTS from '@pages/posts/posts';

const posts = await POSTS.getCollection(({ data }) => {
  return !data.publishDate;
});
---

<Layout content_path={POSTS.path()}>
  <main class="prose">
    <h1>Unpublished posts</h1>
    <p>
      These posts are public but don't have a `publishDate`.
      Consiquently, they won't show up in a feed.
    </p>
    <PostList posts={posts} />
  </main>
  <PostMeta
    title="unpublished chantastic posts"
    path={POSTS.path('unpublished')}
    slot="page-meta"
  />
</Layout>
