---
import GoogleFonts from "@components/header-google-fonts.astro";
import GlobalStyles from "@components/header-global-styles.astro";
import site from "@src/metadata.json";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title=`RSS Feed for ${site.title}`
      href="/feed/rss.xml"
    />
    <GoogleFonts />
    <GlobalStyles />
    <slot name="page-meta">
      <title>
        A stream of incoherant ramblings, by chantastic |
        chan.dev
      </title>
    </slot>
  </head>
  <body style="padding: 1rem">
    <slot />
  </body>
</html>
