---
layout: "layouts/event.njk"
title: "#NoVimber"
---

{%- assign posts = collections.novimber  -%}

<ul>
  {%- for post in posts -%}
    <li>
      <a href="{{ post.url }}">
        {%- if post.data.keys -%}
          {%- for key in post.data.keys -%}
            <kbd>
              {{ key }}
            </kbd>&nbsp;
          {%- endfor -%}
        {%- endif -%}
        {{ post.data.title }}
      </a>
    </li>
  {%- endfor -%}
</ul>
