---
import Layout from '#layouts/Layout.astro'
import * as GUIDE_STEPS from '#pages/guides/[topic]/[scope]/guide_steps'
import Prose from '#components/prose.astro'

export async function getStaticPaths() {
	const entries = await GUIDE_STEPS.getCollection()

	return entries
		.map((entry) => {
			let [topic, scope, step] = entry.slug.split('/')

			if (step === undefined) {
				return
			}

			return {
				params: {
					topic,
					scope,
					step,
				},
				props: {entry},
			}
		})
		.filter(Boolean)
}

interface Props {
	entry: GUIDE_STEPS.CollectionEntry
}

const {entry} = Astro.props
const {params} = Astro

const {Content} = await entry.render()
---

<Layout>
	<Prose>
		<main class="mt-4">
			<h1 class="tracking-tight"></h1>
			<Content />
		</main>
	</Prose>
</Layout>
