---
import Layout from "@layouts/Layout.astro";
import * as ReactComponents from "@components/react-playground";
---

<Layout>
  <main class="prose">
    <h2>Greet</h2>
    <ReactComponents.Greeting name="Michael " punctuation=" 🥳" as="h2">
      Hello World!
    </ReactComponents.Greeting>

    <h2>Counter</h2>
    <ReactComponents.Counter client:load />

    <h2>Timer</h2>
    <ReactComponents.Stopwatch client:load />
  </main>
</Layout>
