---
import * as AUTHKIT from '#lib/authkit'

const session = await AUTHKIT.decryptSession(
	Astro.cookies.get(AUTHKIT.COOKIE_NAME)!
)

export const prerender = false
---

<h1>
	Hello {session.user.lastName}!

	<form method="POST" action="/auth/callback">
		<button type="submit">Sign out</button>
	</form>
</h1>
