---
import {decryptSession} from '#lib/authkit'

const session = await decryptSession(() =>
	Astro.cookies.get('wos-session')
)

export const prerender = false
---

<h1>
	Hello {session.user.lastName}!
</h1>
