---
import Layout from '#layouts/Layout.astro'
import Prose from '#components/prose.astro'
---

<Layout>
	<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
	<script src="/pagefind/pagefind-ui.js"></script>

	<Prose as="main">
		<h1>Search</h1>
		<div id="search"></div>
	</Prose>
</Layout>

<script>
	window.addEventListener('DOMContentLoaded', (event) => {
		new PagefindUI({element: '#search', showSubResults: true})
	})
</script>
