---

---

<html>
	<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
	<script src="/pagefind/pagefind-ui.js" is:inline></script>

	<main>
		<h1>Search</h1>
		<div id="search"></div>
	</main>

	<script is:inline>
		window.addEventListener('DOMContentLoaded', (event) => {
			new PagefindUI({element: '#search', showSubResults: true})
		})
	</script>


</html>
