---
import Layout from '#layouts/Layout.astro'
import Prose from '#components/prose.astro'
import VerticalTimelineItem from '#components/vertical-timeline-item.astro'
---

<Layout>
	<div class="flex">
		<main class="max-w-[64ch] mx-auto pt-4">
			<Prose class="text-lg">
				<p>Hey <strong>Syntax. &times; Sentry</strong> 👋</p>

				<p>"Show. Don't tell."</p>
				<p>
					I tried to write a cover letter, to <em>tell</em> you
					why I fit for your video role. But it felt weird not
					to <em>show</em> you.
				</p>
				<p>
					So, in addition to my <a
						href="https://www.linkedin.com/in/chantastic/"
						target="_blank">LinkedIn CV</a
					>, please accept this "cover video" and list of recent
					projects.
				</p>
				<p>
					Talk soon.<br />
					 Chan
				</p>

				<div data-responsive-youtube-container>
					<iframe
						width="560"
						height="315"
						src="https://www.youtube.com/embed/ElkigVweIzA?si=i0WCJEGUe9dejtwr"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen></iframe>
				</div>

				<article>
					<h2>Storybook Video Education</h2>
					<p>
						For two years, I've developed Storybook's approach
						to video education. Most can be found on <a
							href="https://www.youtube.com/@chromaticui"
							target="_blank">the Chromatic YouTube channel.</a
						>
					</p>
					<p>
						We have a very small team. So I'm most proud of the
						framework I distribute multi-modal content quickly.
						With one script, we created a blog post, X thread,
						shorts, and a video (which was integrated back into <a
							href="https://storybook.js.org/docs/essentials/actions"
							target="_blank">the docs</a
						>).
					</p>
					<div data-responsive-youtube-container>
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/BTIuTuoHsQc?si=jFoQ-1pe2lYF3XU5"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
					</div>

					<div class="flex justify-between">
						<div class="rounded-md overflow-hidden">
							<iframe
								width="310"
								height="580"
								src="https://www.youtube.com/embed/hbd7zXnAE9c"
								title="YouTube video player"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
								allowfullscreen></iframe>
						</div>
						<div class="rounded-md overflow-hidden">
							<iframe
								width="310"
								height="580"
								src="https://www.youtube.com/embed/TdUyhwYu13A"
								title="YouTube video player"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
								allowfullscreen></iframe>
						</div>
					</div>
					<div class="flex mt-4">
						<div class="mx-auto">
							<blockquote class="twitter-tweet mx-auto">
								<p lang="en" dir="ltr">
									Let&#39;s talk about console.log…<br /><br
									/>It&#39;s not the best tool for the bugging
									UI but I use it anyway because it cheap and
									easy.<br /><br />But when when driving
									component design in <a
										href="https://twitter.com/storybookjs?ref_src=twsrc%5Etfw"
										>@storybookjs</a
									> we can use Actions — which are much more
									like callback mocks.<br /><br />Here&#39;s
									how… <a href="https://t.co/8HNDXRslBJ"
										>pic.twitter.com/8HNDXRslBJ</a
									>
								</p>&mdash; chan 👉 chan.dev (@chantastic) <a
									href="https://twitter.com/chantastic/status/1694932499984703754?ref_src=twsrc%5Etfw"
									>August 25, 2023</a
								>
							</blockquote>
							<script
								async
								src="https://platform.twitter.com/widgets.js"
								charset="utf-8"></script>
						</div>
					</div>
				</article>
				<article>
					<h2>React.js — The Documentary by Honeypot</h2>
					<p>
						For better or worse, React changed the world.<br />
						 Being a small part of that story is a huge honor.
					</p>
					<p>
						I collaborated with <a
							href="https://x.com/bechtleida?s=21"
							target="_blank">Ida Bechtla</a
						> to find and shape the narrative of The React
						Documentary. And I think it came out great 😍
					</p>
					<div data-responsive-youtube-container>
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/8pDqJVdNa44?si=TUbyd6T3ykFpBmDE"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
					</div>
				</article>
				<article>
					<h2>Storybook day 2023</h2>
					<p>
						It nearly killed me but I pulled off an online
						conference with Chromatic teammate <a
							href="https://x.com/winkervsbecks?s=21"
							>Varun Vachhar</a
						>.
					</p>
					<p>
						I produced the event — from creative direction to
						production. I worked with speakers to capture their
						content to the best of their ability. And I
						partnered with designers/editors to pull off the
						look, feel, and formatting of the pre-recorded
						"live" event.
					</p>
					<div data-responsive-youtube-container>
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/P0hJm5v8TJw?si=1i_-J9xOiPtv7XkH&start=295"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
					</div>
				</article>

				<article>
					<h2>Low-key YouTube'n</h2>
					<p>
						I've never committed to YouTube. But I enjoy
						exploring.
					</p>
					<p>
						<a
							href="https://youtube.com/@chantastic"
							target="_blank">My channel (@chantastic)</a
						> is the best representation of my

						<em>unrefined</em> style. And the best place to see
						that "style" applied to tutorials, shorts, and
						livestreams.
					</p>
					<div data-responsive-youtube-container>
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/OP5nXP5CSJg?si=MGYE3JvRbQxeh3Hf"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
					</div>
					<div class="flex justify-between">
						<div class="rounded-md overflow-hidden">
							<iframe
								width="310"
								height="580"
								src="https://www.youtube.com/embed/RYwYZakUfRs"
								title="YouTube video player"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
								allowfullscreen></iframe>
						</div>
						<div class="rounded-md overflow-hidden">
							<iframe
								width="310"
								height="580"
								src="https://www.youtube.com/embed/1lAlZN3OImY"
								title="YouTube video player"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
								allowfullscreen></iframe>
						</div>
					</div>
					<div data-responsive-youtube-container>
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/_hzUAgOI53c?si=J6H3wCEwGMOmeDJM"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
					</div>
				</article>

				<article>
					<h2>
						The Beginner's Guide to Storybook 7 on egghead.io
					</h2>
					<p>
						In January, I'm releasing a beginner Storybook
						course to help designers, developers, and managers
						get on the same page.
					</p>
					<p>
						The material was designed to be multi-modal: course,
						social campaign, and workshop.
					</p>
					<p>
						It has been developed in public and you can see a
						preview of the material today.
					</p>
					<a
						href="https://egghead.io/q/resources-by-michael-chan?type=playlist"
						target="_blank"
						class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
					>
						Visit egghead author profile
						<svg
							class="w-3 h-3 ms-2 rtl:rotate-180"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 14 10"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M1 5h12m0 0L9 1m4 4L9 9"></path>
						</svg>
					</a>
				</article>
			</Prose>
		</main>
	</div>
</Layout>
