---
import Layout from '#layouts/Layout.astro'
import Prose from '#components/prose.astro'
import VerticalTimelineItem from '#components/vertical-timeline-item.astro'
---

<Layout>
	<div class="flex">
		<main class="max-w-[72ch] mx-auto pt-4">
			<Prose class="text-lg">
				<p>Hey <strong>Syntax. &times; Sentry</strong> 👋</p>

				<p>"Show. Don't tell."</p>
				<p>
					I tried to write a cover letter, to <em>tell</em> you
					why I fit for your video role. But it felt weird not
					to <em>show</em> you.
				</p>
				<p>
					So, in addition to my <a
						href="https://www.linkedin.com/in/chantastic/"
						target="_blank">LinkedIn CV</a
					>, please accept this "cover video" and list of recent
					projects.
				</p>
				<p>
					Talk soon.<br />
					 Chan
				</p>

				<div data-responsive-youtube-container>
					<iframe
						width="560"
						height="315"
						src="https://www.youtube.com/embed/ElkigVweIzA?si=i0WCJEGUe9dejtwr"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen></iframe>
				</div>

				<article>
					<h2>Storybook Video Education</h2>
					<p>
						For two years, I've developed Storybook's approach
						to video education. Most can be found on <a
							href="https://www.youtube.com/@chromaticui"
							target="_blank">the Chromatic YouTube channel.</a
						>
					</p>
					<p>
						We have a very small team. So I'm most proud of the
						framework I distribute multi-modal content quickly.
						With one script, we created a blog post, X thread,
						shorts, and a video (which was integrated back into <a
							href="https://storybook.js.org/docs/essentials/actions"
							target="_blank">the docs</a
						>).
					</p>
					<div data-responsive-youtube-container>
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/BTIuTuoHsQc?si=jFoQ-1pe2lYF3XU5"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
					</div>

					<div class="flex justify-between">
						<div class="rounded-md overflow-hidden">
							<iframe
								width="348"
								height="620"
								src="https://www.youtube.com/embed/hbd7zXnAE9c"
								title="YouTube video player"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
								allowfullscreen></iframe>
						</div>
						<div class="rounded-md overflow-hidden">
							<iframe
								width="348"
								height="620"
								src="https://www.youtube.com/embed/TdUyhwYu13A"
								title="YouTube video player"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
								allowfullscreen></iframe>
						</div>
					</div>
					<div class="flex">
						<div class="mx-auto">
							<blockquote class="twitter-tweet mx-auto">
								<p lang="en" dir="ltr">
									Let&#39;s talk about console.log…<br /><br
									/>It&#39;s not the best tool for the bugging
									UI but I use it anyway because it cheap and
									easy.<br /><br />But when when driving
									component design in <a
										href="https://twitter.com/storybookjs?ref_src=twsrc%5Etfw"
										>@storybookjs</a
									> we can use Actions — which are much more
									like callback mocks.<br /><br />Here&#39;s
									how… <a href="https://t.co/8HNDXRslBJ"
										>pic.twitter.com/8HNDXRslBJ</a
									>
								</p>&mdash; chan 👉 chan.dev (@chantastic) <a
									href="https://twitter.com/chantastic/status/1694932499984703754?ref_src=twsrc%5Etfw"
									>August 25, 2023</a
								>
							</blockquote>
							<script
								async
								src="https://platform.twitter.com/widgets.js"
								charset="utf-8"></script>
						</div>
					</div>
				</article>
				<article>
					<h2>React.js — The Documentary by Honeypot</h2>
					<p>
						For better or worse, React changed the world.<br />
						 Being a small part of that story is a huge honor.
					</p>
					<p>
						I collaborated with <a
							href="https://x.com/bechtleida?s=21"
							target="_blank">Ida Bechtla</a
						> to find and shape the narrative of The React
						Documentary. And I think it came out great 😍
					</p>
					<div data-responsive-youtube-container>
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/8pDqJVdNa44?si=TUbyd6T3ykFpBmDE"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
					</div>
				</article>
				<article>
					<h2>Storybook day 2023</h2>
					<p>
						It nearly killed me but I pulled off an online
						conference with Chromatic teammate <a
							href="https://x.com/winkervsbecks?s=21"
							>Varun Vachhar</a
						>.
					</p>
					<p>
						I produced the event — from creative direction to .
						I worked with speakers to capture their content to
						the best of their ability. And I partnered with
						designers/editors to pull off the look, feel, and
						formatting of the pre-recorded "live" event.
					</p>
					<div data-responsive-youtube-container>
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/P0hJm5v8TJw?si=1i_-J9xOiPtv7XkH&start=295"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
					</div>
				</article>
			</Prose>

			<div class="mt-6">
				<ol
					class="relative border-s border-gray-200 dark:border-gray-700"
				>
					<VerticalTimelineItem
						title="The Beginner's Guide to Storybook 7 on egghead.io"
						link={[
							'https://egghead.io/q/resources-by-michael-chan?type=playlist',
							'Visit egghead author profile',
						]}
					>
						<Prose>
							<p
								class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400"
							>
								In January, I'm releasing a beginner Storybook
								course to help designers, developers, and
								managers get on the same page.
							</p>
							<p
								class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400"
							>
								The material was designed to be multi-modal:
								course, social campaign, and workshop.
							</p>
							<p
								class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400"
							>
								It has been developed in public and you can see
								a preview of the material today.
							</p>
						</Prose>
					</VerticalTimelineItem>
				</ol>
			</div>
		</main>
	</div>
</Layout>
