---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>

<h3>Other places I am online:</h3>

<ul>
  <li><a target="_blank" rel="noreferrer noopener" href="https://twitter.com/chantastic">Twitter</a></li>
  <li><a target="_blank" rel="noreferrer noopener" href="https://www.youtube.com/c/chantastic">YouTube</a></li>
  <li><a target="_blank" rel="noreferrer noopener" href="https://github.com/chantastic">GitHub</a></li>
  <li><a target="_blank" rel="noreferrer noopener" href="https://www.instagram.com/chantastic/">Instagram</a></li>
</ul>