---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import { getPostCollectionTags } from "@modules/post";

const tags = await getPostCollectionTags();
---

<Layout>
  <main class="prose">
    <h1>Tags</h1>
    <ul>
      {
        tags.map((tag) => (
          <li>
            <a href={`/tags/${tag}`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </main>
  <PostMeta
    slot="page-meta"
    path="tags"
    title="find chantastic posts by tag…"
  />
</Layout>
