---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/header-post-meta.astro";
import * as POSTS from "@pages/posts/posts";

const posts = await POSTS.getCollection(POSTS.entryHasTags);

const tags = POSTS.extractTags(posts);
---

<Layout>
  <div class="prose">
    <small>
      ⇠ <a href="/">chan.dev</a>
    </small>
    <main class="mt-4">
      <h1>Tags</h1>
      <ul>
        {
          tags.map((tag) => (
            <li>
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ul>
    </main>
  </div>
  <PostMeta
    slot="page-meta"
    path="tags"
    title="find chantastic posts by tag…"
  />
</Layout>
