<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React Patterns</title>
    <meta
      name="description"
      content="React patterns from beginners to advanced developers. Simple examples, short descriptions, and quality advice."
      <link
      href="https://fonts.googleapis.com/css?family=Merriweather:300,300i&display=swap"
      rel="stylesheet"
    />
	<script src="https://cdn.usefathom.com/script.js" data-site="SIDEIHQY" defer></script>
  </head>
  <body>
    <div style="max-width: 32em">{{ content | safe }}</div>
  </body>
</html>
